@import "../../../styles/global/variables";
@import "../../../styles/mixins/mixins";

//------------------------------//
// MODAL                        //
// ---------------------------- //

.modal {
  @include fixed(0, 0, 0, 0);
  @include flex(center, center);

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.35s ease-out, visibility 0.35s;
  z-index: 1000;
  visibility: hidden;
  color: #fff;
  font-family: $font-secondary;

  // MODAL CONTAINER
  // -----------------------------
  &__container {
    @include flex(flex-start, center);
    @include size(rem(216px), auto);

    flex-direction: column;
    background-image: $gradient;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.35s ease-out;

    // Modal show container
    // ------------------------
    .modal--show>& {
      transform: translate3d(0, 0, 0);
    }

    &--large {
      @include size(rem(375px), rem(529px));
      opacity: 1;
    }
  }


  // MODAL HEADER
  // -----------------------------
  &__header {
    @include flex(center, flex-start);
    @include size(100%, auto);
    padding: 23px 20px;
    color: #fff;
    font-weight: $font-weight-normal;
    font-size: rem(14px);
    text-transform: uppercase;
    z-index: 10;
  }


  // MODAL TITLE
  // -----------------------------
  &__title {
    margin-right: auto;
    font-size: rem(14px);
  }


  // MODAL BODY
  // -----------------------------
  &__body {
    @include relative(0, 0, 0, 0);
    @include size();
    color: $secondary;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
    overflow-y: auto;
  }

  // MODAL CLOSE BUTTON
  // -----------------------------
  &__close {
    color: #5e6e8c;
    width: auto;
  }
  &__icon {
    @include size(rem(14px), rem(14px));
    fill: #fff;
  }

  // // MODAL ACTION BUTTON
  // // ----------------------------
  // &__action {
  //   border-top: 1px solid #D8D8D8;
  //   padding: 0 13px;
  // }
}

//--- Modal Show ---//
.modal--show {
  opacity: 1;
  visibility: visible;
}
