<div #modal class="reusable-modal" [id]="modalId">
  <div class="reusable-modal__container" [class.reusable-modal__container--large]="isLarge">
    <header class="reusable-modal__header">
      <h2 class="reusable-modal__title">{{ title }}</h2>
      <button type="button" class="reusable-modal__close" (click)="onClose()">
        <svg class="reusable-modal__icon">
          <use href="/assets/icons/sprite.svg#close" />
        </svg>
      </button>
    </header>

    <div class="reusable-modal__body">

      <ng-content></ng-content>

    </div>
  </div>
</div>
