//--------------
//VARIABLES
//--------------



// Color palette
//--------------

$primary: #151b25;
$secondary: #b4cff2;
$tertiary: #e7526b;
$base: #fff;

$success: #23a565;

$gradient: linear-gradient(#283347, #1c212b);

// Font
//--------------

$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: 'Abel', Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

