//-------------
//VARIABLES
//--------------

//colors palette-------------------------------------------------------------
$primary: #5E6E8C;
$secondary: #B4CFF2;
$tertiary: #E7526B;
$base: #fff;

$success: #23A565;

//fonts
$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: 'Abel', Arial, sans-serif;
