//-------------
//VARIABLES
//--------------

//colors palette-------------------------------------------------------------
$primary: #151B25;
$secondary: #B4CFF2;
$tertiary: #E7526B;
$base: #fff;

$success: #23A565;

//fonts
$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: 'Abel', Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
