@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';

.playlist {
  display: flex;
  justify-content: space-between;
  padding-right: rem(25px);

  &__title {
    font-family: $font-secondary;
    font-weight: $font-weight-normal;
    font-size: rem(19px);
    color: $base;
    margin-left: rem(35px);
    margin-bottom: rem(22px);

  }

  &__control {
    @include flex(center, center);
    @include size(rem(15px), rem(13px));

    margin-top: rem(4px);

    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    &:focus>svg {
      opacity: 1;
    }

  }

  &__icon {
    @include size(rem(15px), rem(13px));
    opacity: 0.65;

  }
}







.playlist-list__elem {
  cursor: pointer;
  &::before {
    content: "•";
    color: red;
    margin-left: rem(35px);
  }
  margin-bottom: 25px;
}

a {
  margin-left: 15px;
  color: white;
  font-family: $font-primary;
  color: $secondary;

}
