@import "global/variables";
@import "mixins/mixins";

.playlist {
  display: flex;
  justify-content: space-between;

  &__title {
    font-family: $font-secondary;
    font-weight: $font-weight-normal;
    font-size: rem(19px);
    color: $base;
    margin-bottom: rem(22px);
  }

  &__control {
    @include flex(center, center);
    @include size(rem(15px), rem(13px));

    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    &:focus > svg {
      opacity: 1;
    }
  }

  &__icon {
    @include size(rem(15px), rem(13px));
    opacity: 0.65;
  }
}

.playlist-list__elem {
  $colors: red, orange, yellow, green, blue, purple;
  $repeat: 20;
  cursor: pointer;
  @for $i from 1 through $repeat {
    &:nth-child(#{length($colors)}n + #{$i}) {
      &::before {
        content: "•";
        color: lighten(nth($colors, random(length($colors))), 20%);
      }
    }
  }
}

a {
  color: white;
  font-family: $font-primary;
  color: $secondary;
}
