<header class="header">
  <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm)" class="form">
    <div class="header__search">
      <label for="'currentSearch'">
        <svg class="header__search-icon">
          <use xlink:href="../../assets/icons/sprite.svg#zoom"></use>
        </svg>
      </label>
      <input class="header__search-bar" type="text" placeholder="Type here artist name to find artist info..." id="search"
        formControlName="currentSearch" required [name]="'currentSearch'" (submit)="onSearchSubmit(searchForm)">
    </div>
    <div *ngIf="invalidQuery">
      Please write artist name
    </div>
    <div *ngIf="invalidArtist">
      Artist not found
    </div>
  </form>

  <div class="header__user">
    <p class="header__username">Andrew Z</p>
    <img class="header__img" src="../../../assets/images/avatar.png" alt="Avatar">
  </div>
</header>
