@import '../../../styles/global/variables';
@import '../../../styles/mixins/rem';

.bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: rem(1086px);
  height: rem(34px);
  background-color: transparent;
  margin-left: rem(30px);
  margin-top: rem(13px);

  //border: 1px solid green;


}
input {
  background: transparent;
  border: none;

  font-family: $font-primary;
  font-weight: $font-weight-normal;



}
::placeholder {
  color: white;
  opacity: 1;
  font-size: rem(14px);
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: rem(12px);

}
p {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  color: white
}

img {
  margin-left: rem(15px);


}
