@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: rem(34px);
  background-color: transparent;
  padding-left: rem(30px);
  padding-top: rem(13px);
  //border: 1px solid green;


  // SEARCH
  &__search {

      @include flex(center, center);

    &-icon {
      @include size(rem(13px), rem(13px));
    }

    &-bar {
      width: rem(300px);
      margin-left: 13.12px;
      padding: 5px;
      border: none;
      background: transparent;

      &::placeholder {
        color: #fff;
        opacity: 1;
        font-size: rem(14px);
        font-family: $font-primary;
        font-weight: $font-weight-normal;
      }
    }
  }

}

.header__user {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: rem(12px);

  .header__username {
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
    color: white
  }

  .header__img {
    margin-left: rem(15px);


  }
}
