@import url('https://fonts.googleapis.com/css2?family=Abel&family=Source+Sans+Pro:wght@400;600;700&display=swap');

// ------------------------------------
// GLOBAL
// ------------------------------------

@import './global/variables';
@import './global/reset';
@import './global/base';
@import './mixins/mixins';


// ------------------------------------
// COMPONENTS
// ------------------------------------
@import './components/info-grid';
@import './components/modal';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



