<div class="modal">
  <button class="modal__btn" mat-dialog-close="false">&times;</button>
  <h2 class="modal__title" mat-dialog-title >CREATE PLAYLIST</h2>
  <mat-dialog-content>
    <form class="modal__form">
      <label for="name" class="modal__form-label">Name</label>
      <input #myInput type="text" id="name" name="name" class="modal__form-input">
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="modal__btn modal__btn--create" mat-dialog-close="true" (click)="createPlaylist(myInput.value)">Create</button>
  </mat-dialog-actions>
</div>

