<p class="info info--1col">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum culpa
  reiciendis ea sapiente quam quis nulla, error consequuntur illo quisquam ipsa
  perspiciatis accusantium veritatis nemo voluptatem doloribus iusto? Incidunt,
  aut! 
  <br>
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
  dicta aperiam reiciendis eveniet veritatis impedit soluta suscipit asperiores
  distinctio cum voluptatem, aspernatur numquam facilis quibusdam magnam nemo
  voluptatibus rem dolores!
</p>
