<nav class="player">

  <div class="player__song-info">
    <img class="player__cover" [src]="(currentTrack | async)?.album.images[0].url" width="40px" height="40px">
    <div class="player__track">
      <p class="player__song-name">{{ (currentTrack | async)?.name }}</p>
      <p class="player__artist">{{ (currentTrack | async)?.artists[0].name }}</p>
    </div>
  </div>

  <!-- PLAYER CONTROLS -->
  <div class="player__controls">
    <!-- SONG CONTROLS -->
    <button type="button" class="player__control" (click)="onRandom()">
      <svg class="player__icon">
        <use xlink:href="../../../assets/icons/sprite.svg#aleatorio"/>
      </svg>
    </button>
    <button type="button" class="player__control" (click)="onPrev()">
      <svg class="player__icon">
        <use xlink:href="../../../assets/icons/sprite.svg#anterior"/>
      </svg>
    </button>
    <button type="button" class="player__control player__control--circle" (click)="onPlay()">
      <svg class="player__icon player__icon--circle">
        <use xlink:href="../../../assets/icons/sprite.svg#pausa"/>
      </svg>
    </button>
    <button type="button" class="player__control" (click)="onNext()">
      <svg class="player__icon">
        <use xlink:href="../../../assets/icons/sprite.svg#siguiente"/>
      </svg>
    </button>
    <button type="button" class="player__control" >
      <svg class="player__icon">
        <use xlink:href="../../../assets/icons/sprite.svg#repetir"/>
      </svg>
    </button>
    <!-- // SONG CONTROLS -->
  </div>
  <!-- //PLAYER CONTROLS -->

  <!-- VOLUME -->
  <div class="player__volume">
    <svg class="player__icon player__control">
      <use xlink:href="../../../assets/icons/sprite.svg#volumen" />
    </svg>
    <input type="range" min="0" max="1" value="0.5" step="0.1" class="player__volume-line" [(ngModel)]="player.volume">
  </div>
  <!-- // VOLUME -->

  <!-- SONG TIME -->
  <div class="player__time">
    <div class="player__minute"> {{ currentTime }} </div>
    <input type="range" min="0" [max]="songDurationNum" step="1" [(ngModel)]="currentSecond" class="player__time-line">
    <div class="player__minute"> {{ (currentTrack | async)?.duration_ms / 1000 | timeFormat }}</div>
  </div>
  <!-- // SONG TIME -->

  <audio #player [src]="(currentTrack | async)?.preview_url" type="audio/mpeg" (timeupdate)="onUpdate($event)" (ended)="onNext()" (canplay)="onPlay()" crossOrigin="anonymous"></audio>

 <!-- STACK -->
  <svg class="player__icon player__control" (click)="toggleModal(targetModal)">
    <use xlink:href="../../../assets/icons/sprite.svg#lista" />
  </svg>
  <!-- // STACK -->

</nav>


<app-reusable-modal #targetModal [title]="'Now playing'" [modalId]="'cola'" [isLarge]="true"
  [modalVisible]="false" (close)="toggleModal(targetModal)">
  <ng-container *ngIf="targetModal.modalVisible">
    <app-player-queue (close)="toggleModal(targetModal)"></app-player-queue>
  </ng-container>
</app-reusable-modal>
