@import '../../../styles/mixins/mixins';
@import '../../../styles/global/variables';

.player {
  @include size(100%);
  @include flex(center, flex-start);
  padding: 12px;

  // SONG INFO
  &__song-info {
    @include flex(center, flex-start);
    @include size(rem(220px), auto);

    .player__cover {
      margin-right: rem(15.78px);
    }

    .player__song-name {
      font-size: rem(13px);
      font-weight: 600;
    }

    .player__artist {
      font-size: rem(12px);
      font-weight: 400;
      opacity: 0.8;
    }
  }


  &__icon {
    @include flex(center, center);
    @include size(rem(15px), rem(13px));
    opacity: 0.65;

    &--circle {
      @include size(rem(9px), rem(10.43px));
    }

  }

  &__controls {
    @include flex(center, space-between);
    @include size(rem(162.57px), rem(29.52px));
  }

  &__control {
    @include flex(center, center);
    @include size(rem(15px), rem(13px));

    &:hover {
      cursor: pointer;
    }

    &:focus > svg {
      opacity: 1;
    }

    &--circle {
      @include size(rem(30px), rem(30px));
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 0.8;
    }
  }

  &__volume {
    @include flex(center, flex-start);
    margin-left: 44px;
    margin-right: 34px;
  }

  &__volume-line {
    @include size(rem(105px), rem(3px));
    margin-left: 10px;
    border-radius: rem(3px);
    background-color: #fff;
    opacity: 0.35;
  }

  &__time {
    @include flex(center, center);
    margin-right: 25px;
  }

  &__minute {
    font-size: rem(12px);
    font-weight: 400;
  }

  &__time-line {
    @include size(rem(686px), rem(3px));
    margin: 0 10px;
    border-radius: rem(3px);
    background-color: #fff;
    opacity: 0.35;
  }

}
