@import '../styles/mixins/mixins';
@import '../styles/global/variables';

.layout {
  @include size(100vw, 100vh);
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar artist"
    "player player"
  ;
  grid-template-rows: rem(57px) 1fr rem(62px);
  grid-template-columns: rem(220px) 1fr;
  overflow: hidden;

  &__sidebar {
    grid-area: sidebar;
    height: 100vh;
    padding-bottom: rem(63px);
    background-color: $primary;
    overflow: auto;
  }

  &__bg {
    height: 100vh;
    padding-bottom: rem(63px);
    // background-image: url('/assets/images/BASIC/BG.png');
    background-color: lighten($primary, $amount: 5%);
    overflow: auto;
  }

  &__artist {
    grid-area: artist;
    background: none;
  }


  &__header {
    grid-area: header;
    background: none;
  }


  &__player {
    grid-area: player;
    background-color: rgba($tertiary, 0.9);
    z-index: 10;
  }



}
