@import '../styles/mixins/mixins';
@import '../styles/global/variables';

.layout {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar artist"
    "player player"
  ;
  height: 100vh;
  width: 100vw;
  grid-template-rows: rem(57px) 1fr rem(62px);
  grid-template-columns: rem(220px) 1fr;


  &__header {
    grid-area: header;
    background: none;
  }

  &__sidebar {
    grid-area: sidebar;
    height: 100vh;
    padding-bottom: rem(63px);
    background-color: $primary;
    overflow: auto;
  }

  &__artist {
    grid-area: artist;
    background: none;
  }

  &__player {
    grid-area: player;
    background-color: $tertiary;
    opacity: 0.9;
  }

  &__bg {
    height: 100vh;
    padding-bottom: rem(63px);
    background-image: url('../assets/images/BASIC/BG.PNG');
    overflow: auto;
  }

}
