@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';

.artist {

  @include flex(flex-start, space-between);
  flex-wrap: wrap;
  padding: 0 78px;

  &__main {
    width: 570px;
    padding-right: 35px;
  }

  &__save {
    @include size(rem(164px), rem(34px));
    @include flex(center, flex-start);
    padding-left: 14px;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-top: 110px;
    color: #fff;
    font-size: rem(14px);
    font-family: $font-primary;
  }

  &__name {
    font-size: rem(90px);
    font-weight: $font-weight-bold;
  }

  &__save-icon {
    @include flex(center, center);
    @include size(rem(11.61px), rem(11.03px));
    margin-right: 13px;
  }

  &__info {
    overflow: auto;
  }

  &__tracks {
    min-width: 442px;
    padding-top: 30px;
    overflow: auto;
  }

}
