@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';

.artist {

  @include flex(flex-start, flex-start);
  padding: 0 78px 78px;
  overflow: auto;
  &__main {
    margin-right: 32px;
  }

  &__save {
    @include size(rem(164px), rem(34px));
    @include flex(center, flex-start);
    padding-left: 14px;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-top: 110px;
    color: #fff;
    font-size: rem(14px);
    font-family: $font-primary;
  }

  &__name {
    font-size: rem(90px);
    font-weight: $font-weight-bold;
  }

  &__save-icon {
    @include flex(center, center);
    @include size(rem(11.61px), rem(11.03px));
    margin-right: 13px;
  }

  &__info {
    overflow: auto;
  }

  &__tracks {
    width: 100%;
    padding-top: 30px;
    overflow: auto;
  }

}

// ARTISTIBFO


.artist-info {
  &__navbar {
    @include flex(center, flex-start);
    margin: 18.43px 0 30px;
  }

  &__section {
    @include size (rem(90px), rem(33px));
    @include flex(center, space-between);
    flex-direction: column;
    font-size: rem(14px);
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    text-decoration: none;

    & + & {
      margin-left: 45.31px;
    }

    &:first-child {
      margin-left: -18px;
    }

    &:nth-child(2) {
      margin-left: 45.31px - 18px;
    }

    &:visited {
      color: #fff;
    }

    &--selected {
      &::after {
        @include size(rem(52px), rem(3px));
        content: '';
        background-color: #3191fb;
      }
    }
  }
}

