<h1>MUSIC</h1>
<nav class="navbar">

  <ul class="navbar__list">
    <li>
      <a href="#" class="">Discover</a>
    </li>
    <li>
      <a href="#">Rising</a>
    </li>
    <li>
      <a href="#">Inspiration</a>
    </li>
    <li>
      <a href="#">My stars</a>
    </li>
  </ul>

  <ul class="navbar__list">
    <li>
      <a href="#">Songs</a>
    </li>
    <li>
      <a href="#">Artists</a>
    </li>
    <li>
      <a href="#">Albums</a>
    </li>
    <li>
      <a href="#">Radio</a>
    </li>
  </ul>


</nav>
<app-playlists></app-playlists>


