@import 'global/variables';
@import 'mixins/rem';
h1 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: rem(19px);
  color: $base;
  margin-bottom: 22px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 20px 62px 35px;
  font-family: $font-primary;
  font-weight: $font-weight-normal;

  li + li {
    padding-top: 1rem;
  }

  &__list {
    margin-bottom: rem(30px);
  }

}

a {
  color: $secondary;
}
